@tailwind base;
@tailwind components;

.btn {
  @apply border-2 border-b-8 hover:border-2 hover:border-b-4 hover:mt-1 focus:border-b-2 focus:mt-[6px] outline-none;
}

.btn-neutral {
  @apply border-neutral-900 bg-neutral-300 text-neutral-900 fill-neutral-900;
}

.btn-blue {
  @apply border-blue-900 bg-blue-300 text-blue-900 fill-blue-900;
}

.btn-red {
  @apply border-red-900 bg-red-300 text-red-900 fill-red-900;
}

@tailwind utilities;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Apply the animation to the SVG element */
.loading {
  animation: spin 2s backwards infinite;
}

.errorMessage {
  animation: disappear 2s forwards cubic-bezier(1, -0.03, 0.46, 0.57);
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
